<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="~/AdminLTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Dashboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" role="menu" data-accordion="false">

                <li class="nav-item" id="dashboard">
                    <a href="/" class="nav-link active">
                        @*<i class="nav-icon fas fa-tachometer-alt"></i>*@
                        <img class="nav-icon side-icon" src="~/AdminLTE/icons/share.png" />
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>

                @*@if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin") || User.IsInRole("Actions"))
                    {*@
                        <li class="action-menu nav-item menu-is-opening menu-open" id="actions">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Actions
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("RequestReport","Actions")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Request Export</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("ResolveErrors","Actions")"  class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Resolve Errors</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="@Url.Action("RecalculateData","Actions")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Recalculate Data</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    @*}
                    if (User.IsInRole("Admin") || User.IsInRole("Reconciliation"))
                    {*@
                        <li class="nav-item" id="reconciliation">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Reconciliation
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ErrorReport","Reconciliation")"  class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Error Report</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Error")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Error Configuration</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="@Url.Action("SuccessReport","Reconciliation")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Success Report</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    @*}
                    if (User.IsInRole("Admin") || User.IsInRole("Reconciliation"))
                    {*@
                        <li class="nav-item" id="exportOverride">
                            <a href="@Url.Action("Index","ExportOverride")" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Export Override
                                </p>
                            </a>
                        </li>
                    @*}
                    if (User.IsInRole("Admin") || User.IsInRole("Insight"))
                    {*@
                        <li class="nav-item" id="insight">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Insight
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("BatchHistory","Insight")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Batch History</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("AuthHist","Insight")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>

                                        <p>Auth History</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="@Url.Action("PendingAuths","Insight")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Pending Auths</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("BusEvents","Insight")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Bus Events </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    @*}
                    
                }*@



            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>